@charset "utf-8";
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	background: url(../img/bg1.png);
	background-size: 100% 100%;
}
.page1{
	width: 100%;
	height: 100%;
}
.tittle-box{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 282.5px;
	height: 187px;
	background: url(../img/title2.png);
	background-size: 100% 100%;
	margin-left: -141px;
	
}
.tittle-box img{
	width: 100%;
}
.tag-cloud{
	position: absolute;
	margin: 0 auto;
	width: 298px;
	height: 144.5px;
	top: 249px;
	left: 50%;
	margin-left: -149px;
}
.tag-cloud a {
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: Microsoft YaHei;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 6px;
}
.tag-cloud a:hover {
	border: 1px solid #eee;
	background: #000;
}
.scroll-div {
	position: absolute;
	top: 0px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.scroll-div .item {
	height: 30px;
	text-align: center;
	color: white;
}
.button{
	position: absolute;
	bottom: 40px;
	left: 0;
}
#qianDao{
	margin-top:10px ;
}
.line-white{
	width:100%;
	height: 30px;	
}
.sign-bottom {
	width: 14px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	z-index: 1;
}
.sign-bottom img {
	width: 100%;
}



.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
}
@-webkit-keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}
@keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}




@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}













